<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<h1 class='text-center'>Comment your favourite beer</h1>
<div class='row'>
    <div class='d-flex justify-content-center align-items-center flex-wrap'>
        <div class='col-sm-12 col-md-6 text-center '>
            <div class='photoSean d-flex align-items-end justify-content-center rounded'
                style="background-image: url(/assets/servezasAntares.jpg);">
                <h5 class='text-white titleImg py-1 px-1 rounded-pill'>BEERS</h5>
            </div>
        </div>
        <div class='col-sm-12 col-md-6  bg-light rounded'>
            <input type="hidden" name="userId" value="<%= userId %>">
            <div class='divComments'>
                <% if( comments.length === 0){ %>
                <h1 class='text-center'>No comments</h1>
                <% }else{ %>

                <% comments.forEach(comment =>{ %>
                <div class=" mt-2 titleImg rounded-pill  py-1 shadow">
                    <div class='d-flex flex-row px-2'>
                        <h6 class="px-3"><%= comment.name %></h6>
                        <h6 class='px-2'><%= comment.age %></h6>
                        <% if(loggedUser && String(userId) == String(comment['userId'])){ %>
                        <a href="/edit-comment/<%= comment._id %>" class='text-dark'><i
                                class="fas fa-edit cursor px-2"></i></a>
                        <a href="/delete-comment/<%= comment._id %> " class="text-dark"><i
                                class="fas fa-trash-alt cursor"></i></a>
                        <% } %>
                    </div>
                    <p class='ms-4'><%= comment.comment %> </p>
                </div>
                <% }) %>
                <% } %>
            </div>
            <form action="/reviews" method="POST" >
                <div class="row">
                    <div class='col-sm-12 col-md-8'>
                        <div class="my-2 d-flex align-items-center justify-content-center flex-wrap ">
    
                            <input class="inputComments" placeholder="write a comment" name="comment" type="text"
                                value='<%= edited? edited.comment : null %>' required />
                                <input type="hidden" name="_id" value="<%= edited ? edited._id : null %>">
                            <input type="submit" value='Send' class='sendButton px-2 mx-2 my-1'>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center">
                        <% if(error){ %>
                            <small class='text-white bg-danger py-2 px-2 '><%= error %></small>                            
                        <% } %>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div></div>
    <%- include('partials/footer.ejs') %>